<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [ ]:
!pip install randomuser

Then, we will load the necessary libraries.

In [1]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [ ]:
r = RandomUser()

<bound method RandomUser.get_age of <randomuser.RandomUser object at 0x00000250987D3490>>

Then, using `generate_users()` function, we get a list of random 10 users.

In [6]:
some_list = r.generate_users(10)

In [7]:
some_list

[<randomuser.RandomUser at 0x250987d45d0>,
 <randomuser.RandomUser at 0x250987d4610>,
 <randomuser.RandomUser at 0x250987d4650>,
 <randomuser.RandomUser at 0x250987d4690>,
 <randomuser.RandomUser at 0x250987d46d0>,
 <randomuser.RandomUser at 0x250987d4750>,
 <randomuser.RandomUser at 0x250987d4790>,
 <randomuser.RandomUser at 0x250987d47d0>,
 <randomuser.RandomUser at 0x250987d4810>,
 <randomuser.RandomUser at 0x250987d4710>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [ ]:
name = r.get_full_name()

TypeError: RandomUser.get_age() takes 1 positional argument but 2 were given

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [9]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Brielle Macdonald   brielle.macdonald@example.com
Arthur Claire   arthur.claire@example.com
Romy Charles   romy.charles@example.com
Iina Koskinen   iina.koskinen@example.com
Jade Claire   jade.claire@example.com
Calvin Edwards   calvin.edwards@example.com
Reno Dors   reno.dors@example.com
Aventino de Souza   aventino.desouza@example.com
Lærke Christensen   laerke.christensen@example.com
Mathilde Clement   mathilde.clement@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [15]:
## Write your code here
user = RandomUser()
# print(user)

user_List = user.generate_users(10)
img = user.get_picture()
# img
for user in user_List:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/70.jpg
https://randomuser.me/api/portraits/women/17.jpg
https://randomuser.me/api/portraits/men/58.jpg
https://randomuser.me/api/portraits/women/60.jpg
https://randomuser.me/api/portraits/men/17.jpg
https://randomuser.me/api/portraits/men/92.jpg
https://randomuser.me/api/portraits/women/56.jpg
https://randomuser.me/api/portraits/women/50.jpg
https://randomuser.me/api/portraits/men/58.jpg
https://randomuser.me/api/portraits/women/56.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [ ]:
def get_users():
    users =[]
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})

    return pd.DataFrame(users)

In [17]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Bobby Armstrong,male,Letterkenny,Fingal,bobby.armstrong@example.com,1961-02-23T23:27:16.290Z,https://randomuser.me/api/portraits/men/42.jpg
1,Toby Chen,male,New Plymouth,Manawatu-Wanganui,toby.chen@example.com,1993-09-17T14:51:16.238Z,https://randomuser.me/api/portraits/men/40.jpg
2,Darryl May,male,Sunshine Coast,Victoria,darryl.may@example.com,1961-11-07T07:18:21.004Z,https://randomuser.me/api/portraits/men/41.jpg
3,Ethan Walker,male,Hamilton,Nelson,ethan.walker@example.com,1995-11-05T12:07:00.829Z,https://randomuser.me/api/portraits/men/35.jpg
4,Cameron Walker,male,Masterton,Nelson,cameron.walker@example.com,1954-02-25T04:21:59.757Z,https://randomuser.me/api/portraits/men/70.jpg
5,Rosário Pinto,male,Parnamirim,Maranhão,rosario.pinto@example.com,1978-05-14T06:25:21.895Z,https://randomuser.me/api/portraits/men/71.jpg
6,Bo Brøndbo,male,Hoelsand,Oppland,bo.brondbo@example.com,1958-01-11T04:39:07.425Z,https://randomuser.me/api/portraits/men/45.jpg
7,Chloe Ross,female,Killarney,Nova Scotia,chloe.ross@example.com,1959-02-26T04:29:34.000Z,https://randomuser.me/api/portraits/women/46.jpg
8,Jelmar Lammerts,male,Schoonrewoerd,Flevoland,jelmar.lammerts@example.com,1991-06-27T16:55:06.307Z,https://randomuser.me/api/portraits/men/77.jpg
9,Burckhard Rosner,male,Cochem,Niedersachsen,burckhard.rosner@example.com,1982-06-17T16:25:50.070Z,https://randomuser.me/api/portraits/men/97.jpg

In [18]:
df1 = pd.DataFrame(get_users())

In [ ]:
def createUsers():
    usersLI = []

    for users in RandomUser.generate_users(10):

        usersLI.append({"First Name: ": users.get_first_name(),
                        "Last Name: ": users.get_last_name(), 
                        "Gender": users.get_gender(),
                        "City": user.get_city()
                        "DOB": users.get_dob(),
                        "Age": users.get_age(),
                        "Email:": users.get_email(),
                        "Phone": user.get_phone()})

    return(pd.DataFrame(usersLI))

createUsers()

,First Name:,Last Name:,Gender,Age,Email:,DOB
0,Amelia,Hale,female,50,amelia.hale@example.com,1975-08-24T15:07:40.985Z
1,Hans-Günter,Römer,male,74,hans-gunter.romer@example.com,1951-06-07T04:20:42.274Z
2,Koray,Balcı,male,57,koray.balci@example.com,1968-07-08T02:27:47.495Z
3,Enrique,Knight,male,72,enrique.knight@example.com,1953-09-04T05:37:17.621Z
4,Margie,Clark,female,74,margie.clark@example.com,1951-02-16T22:58:11.794Z
5,Justine,Kowalski,female,69,justine.kowalski@example.com,1956-08-22T13:37:36.675Z
6,Nichlas,Kroken,male,72,nichlas.kroken@example.com,1953-10-05T07:18:37.012Z
7,Isabella,Ross,female,42,isabella.ross@example.com,1983-02-05T02:16:34.210Z
8,Abigail,Edwards,female,43,abigail.edwards@example.com,1982-04-26T19:02:34.053Z
9,درسا,موسوی,female,49,drs.mwswy@example.com,1976-10-29T16:12:04.642Z

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [19]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [20]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [21]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [ ]:
pd.DataFrame(results)

AttributeError: 'list' object has no attribute 'head'

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [23]:
df2 = pd.json_normalize(results)

In [26]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [25]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [ ]:
# Write your code here

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.